/node_modules
/public/hot
/public/storage
/public/vendors
/public/images
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
composer.lock
*.lock

#Archivos
*.jpg
*.jpeg
*.png
*.gif
*.pdf
*.html
*.htm
*.txt
*.csv
*.docx
*.doc
*.odt
*.xlsx
*.xls
*.xlsb
*.ods
*.pptx
*.sldx
*.mp3
*.wav
*.ogg
*.wma
*.mp4
*.avi
*.mkv
*.mpeg
*.mov
*.zip
*.rar
*.7z

